* {
  font-family: roboto;
}



h1{
  color: #0A75C2;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}


p, 
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}

body {
  background-color: white;
  background: url(images/headerBG.jpg);
  background-repeat: no-repeat;
  background-size: 1024px 140px;
}

.left-logo {
  
  width: 97px;
  height: 22px;
  padding: 0px 10px;
  
}

.left-menu {
  width: 34px;
  height: 34px;
  padding: 0px 10px;

}

.right {

    width: 512px;

  
}

.title {
background-color: #ff0000;
}


#headerContainer {
  width: 1024px;
  height: 140px;
 
}
