* {
  font-family: roboto;
}



h1{
  color: #0A75C2;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}


p, 
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}

body {
  background-color:white;
  background: url(images/headerBG.jpg);
  background-repeat: no-repeat;
  background-size: 1024px 140px;
}

.left {
  position: absolute;
  left: 0px;

}
.right {

  right: 0px;

}
#header {
  width: 1024px;
  height: 140px;
 
}
