* {
  font-family: roboto;
}


h1 {
  color: SeaGreen;
}

h2 {
  color: #0A75C2;
  font-size: 20px;
  font-weight: lighter;
}


p, 
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}

body {
  background-color:white;
  background: url(images/headerBG.jpg);
  background-repeat: no-repeat;
  background-size: 1024px 140px;
}

.left {
  position: absolute;
  left: 0px;
  padding: 10px;
}
.container {
  width: 1024px;
  height: 140px;
  padding: 20px;
 
}
